
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

/*-barra nav -*/

nav img{
    width: 80px;
    height: 80px;
}

.bg-barra{
    background-color: rgba(254,115,0,255);
}

.dropdown-menu{
    background-color: rgba(254,115,0,255);
    border: 1px solid white;
}

.dropdown-item{
    background-color: rgba(254,115,0,255);
    color: white;
}
.dropdown-item:hover{
    background-color: rgba(251,139,36,255);
    color: white;
}

.dropdown-divider{background-color: white;}

.btn-outline-success{
    background-color: white;
    color: rgba(254,115,0,255);
    border: 1px solid white;
}

.btn-outline-success:hover{
    background-color: rgba(254,115,0,255);
    border: 1px solid white;
} 

header{
    background-color:rgba(254,115,0,255) ;
}

.nav-link.active{
    color: white !important;
}

.nav-link{
    color: white !important;
}

header h1{
    width: 100%;
    font-size: 16px;
    margin: 0%;
    color: white;
    padding: 5px;
}

/*- barra nav -*/

/*- inicio -*/

.hero{
    text-align: center;
    font-family: "Jost";
    color: white;
    width: 100%;
    height: 700px;
    background-image:url("../img/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.hero h2{
    font-size: 70px;
}

.bienvenidos {
    text-align: center;
    font-family: "Jost";
    font-weight: 400;
    color: white;
    width: 100%;
    height: 460px;
    background-image: url("../img/bienvenidos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bienvenidos-centro h2{
    font-size: 50px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafos-bienvenidos{
    font-size: 25px;
}

.productos{
    text-align: center;
    font-family: "Jost";
    font-weight: 600;
    color: rgb(82, 76, 76);
    width: 100%;
    height: 150px;
    background-image: url("../img/productos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.productos-centro h2{
    font-size: 50px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo-prod{
    font-size: 25px;
}

.mas-vendidos{
    font-family: "Jost";
    font-weight: 400;
    color: white;
    background-color: rgba(254,115,0,255);
    height: 100%;
    text-align: center;
    padding-top: 20px;
}

.mas-vendidos h2{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-mas-vendidos div{
    border: 3px solid white;
    text-align: center;
    border-radius: 20px;
}

.prod-mas-vendidos{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.prod-mas-vendidos img{
    width: 380px;
    height: 380px;
}

.btn.btn-primary{
    font-size: 20px;
    text-align: center;
    color: white;
    border-color: white;
    background-color: rgba(254,115,0,255);
    margin: 10px;
}

.btn-primary:hover{
    color: rgba(254,115,0,255) !important;
    border-color: rgba(254,115,0,255) !important;
    background-color: white !important;
}


/*- inicio -*/


/*- footer -*/

footer{
    width: 100%;
    height: 780px;
    background-color: rgba(254,115,0,255);
}

footer div a .redes{
    width: 30px;
    height: 30px;
    margin: 30px 150px 0px 85px;
}

footer .wpp-icono{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.contacto{
    text-align: center;
    h3{
        font-size: 3em;
    }
    p{
        font-size: 1.2em;
    }
}

iframe{
    margin: 30px 0px 0px 550px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

iframe:hover{
    transform: scale(1.1);
}

/*- footer -*/


/*- media query -*/ 

@media screen and (max-width:386px){
    .header{
        flex-direction: column;
    }
}

@media screen and (max-width:772px){
    .prod-mas-vendidos{
        flex-direction: row;
    }
    .prod-mas-vendidos img{
        width: 260px;
        height: 260px;
    }
}

@media screen and (max-width:635px){
    .prod-mas-vendidos{
        flex-direction: row;
    }
    .prod-mas-vendidos img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:545px){
    .prod-mas-vendidos{
        flex-direction: row;
    }
    .prod-mas-vendidos img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:445px){
    .prod-mas-vendidos{
        flex-direction: row;
    }
    .prod-mas-vendidos img{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:393px){
    .prod-mas-vendidos{
        flex-direction: row;
    }
    .prod-mas-vendidos img{
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width:376px){
    .prod-mas-vendidos{
        flex-direction: row;
    }
    .prod-mas-vendidos img{
        width: 66px;
        height: 66px;
    }
}

/*- media query -*/ 

/*- nosotros -*/

.nosotros-inicio{
    text-align: center;
    font-family: "Jost";
    font-weight: 400;
    color: white;
    width: 100%;
    height: 480px;
    background-image: url("../img/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.grid-img{
    background-color:rgba(254,115,0,255);
    padding: 20px;
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
}

.grid-item{
    background-color: white;
}
.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-4{
    grid-row: span 3;
}

.img-2{
    grid-row: span 3;
}

.img-5{
    grid-row: span 3;
}

@media screen and (max-width:790px){
    .grid-img{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 200px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:660px){
    .grid-img{
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
    }
}
/*- nosotros -*/

/*- sabores -*/

.carousel{
    background-color:rgba(254,115,0,255);
}
.carousel img{
    height:450px;
    padding: 10px;
    border-radius: 3em;
}

.grid-sab{
    background-color:rgba(254,115,0,255);
    text-align: center;
    color: wheat;
    padding: 20px;
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
}

.grid-item-sab img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-sab img{
    border-radius: 20px;
}

.grid-sab .img-1{
    grid-column: span 2;
}

.grid-sab .img-2{
    grid-row: span 4;
}

.grid-sab .img-4{
    grid-row: span 3;
}

.grid-sab .img-5{
    grid-row: span 3;
}

.grid-sab .img-6{
    grid-column: span 2;
}

.grid-sab h2 p{
    color: white;
    margin: 20px;
    background-color: rgba(254,115,0,255);
    text-align: center;
    font-family: "Jost";
    font-size: 35px;
}

@media screen and(max-width: 1334px;){
    .grid-sab h2{
        ;
    }
}

/*- sabores -*/

/*- menu -*/

div h5.card-title{
    text-align: center;
}

.menu-cards p.card-text{
    text-align: center;
}
.menu h2{
    color: white;
    background-color: rgba(254,115,0,255);
    padding: 10px;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0%
}

.menu-cards{
    background-color:rgba(254,115,0,255);
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    row-gap: 20px;
    column-gap: 300px;
}

h3{
    color: white;
    background-color: rgba(254,115,0,255);
    padding: 10px;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0%
}

.card-body a.btn.btn-primary{
    font-size: 20px;
    text-align: center;
    color: white;
    border-color: rgba(254,115,0,255);
    background-color: rgba(254,115,0,255);
    display: flex;
    justify-content: center;
}

/*- menu -*/

/*- contacto -*/

.contacto-img{
    padding:  50px;
    width: 100%;
    height: 600px;
    background-image:url("../img/contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contacto-img h2{
    margin: 30px;
    color: white;
    background-color: rgba(254,115,0,255);
    border-radius: 20px;
    text-align: center;
    font-size: 55px;
}

.contacto{
    display: grid;
}