/* Variables */
/* Listas */
.hero {
  color: white;
}

/* Operaciones */
/* operaciones */
/*mapa*/
.boton-sobre-nosotros {
  color: white;
  background-color: rgb(254, 115, 0);
  border: solid white;
}

/*mapa*/
/*Extends*/
/*extends*/
/*Mixin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

/*- barra nav bootstrap -*/
header {
  background-color: rgb(254, 115, 0);
}
header nav .bg-barra {
  background-color: rgb(254, 115, 0);
}
header nav img {
  width: 80px;
  height: 80px;
}
header nav .dropdown-menu {
  background-color: rgb(254, 115, 0);
  border: 1px solid white;
}
header nav .dropdown-menu .dropdown-divider {
  background-color: white;
}
header nav .dropdown-menu .dropdown-item {
  background-color: rgb(254, 115, 0);
  color: white;
}
header nav .dropdown-menu .dropdown-item:hover {
  background-color: rgb(251, 139, 36);
  color: white;
}
header nav .nav-link.active {
  color: white !important;
}
header nav .nav-link {
  color: white !important;
}
header nav .btn-outline-success {
  background-color: white;
  color: rgb(254, 115, 0);
  border: 1px solid white;
}
header nav .btn-outline-success:hover {
  background-color: rgb(254, 115, 0) !important;
  border: 1px solid white !important;
}
header h1 {
  width: 100%;
  font-size: 16px;
  margin: 0%;
  color: white;
  padding: 5px;
}

/*- barra nav bootstrap -*/
/*- botones bootstrap -*/
.btn.btn-primary {
  font-size: 20px;
  text-align: center;
  color: white;
  border-color: white;
  background-color: rgb(254, 115, 0);
  margin: 10px;
}
.btn.btn-primary .btn-primary:hover {
  color: rgb(254, 115, 0) !important;
  border-color: rgb(254, 115, 0) !important;
  background-color: white !important;
}

/*- botones bootstrap -*/
/*- Inicio -*/
.hero {
  text-align: center;
  font-family: "Jost";
  color: white;
  width: 100%;
  height: 600px;
  background-image: url("../img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.hero h2 {
  font-size: 70px;
  padding-bottom: 55px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero div a .boton-sobre-nosotros {
  background-color: rgb(254, 115, 0);
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 10px;
  font-family: "Jost";
  border-color: white;
}
.hero div a .boton-sobre-nosotros:hover {
  color: rgb(254, 115, 0);
  background-color: white;
  transition: 0.6s;
}

.bienvenidos {
  text-align: center;
  font-family: "Jost";
  font-weight: 400;
  color: white;
  width: 100%;
  height: 460px;
  background-image: url("../img/bienvenidos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.bienvenidos .bienvenidos-centro h2 {
  font-size: 50px;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.bienvenidos .bienvenidos-centro .parrafos-bienvenidos {
  font-size: 25px;
  padding: 10px;
  padding-right: 10px;
}

.productos {
  text-align: center;
  font-family: "Jost";
  color: white;
  width: 100%;
  height: 100px;
  background-color: rgb(254, 115, 0);
}
.productos .productos-centro h2 {
  font-size: 50px;
  padding: 20px;
}

.mas-vendidos {
  font-family: "Jost";
  color: white;
  background-color: rgb(254, 115, 0);
  height: 100%;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 100px;
}
.mas-vendidos h2 {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.mas-vendidos .prod-mas-vendidos {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.mas-vendidos .prod-mas-vendidos div {
  color: white;
  border: 3px solid white;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
  background-color: rgb(254, 115, 0);
}
.mas-vendidos .prod-mas-vendidos img {
  width: 190px;
  height: 190px;
}
.mas-vendidos .prod-mas-vendidos h3 {
  font-size: 25px;
}

/*- Inicio -*/
/*- nosotros -*/
.nosotros-inicio h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  width: 100%;
  height: 300px;
  background-image: url("../img/nosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 60px;
  margin: 0%;
}
.nosotros-inicio .nosotros-p {
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgb(254, 115, 0);
  width: 100%;
  height: 200px;
  padding: 20px;
  margin: 0%;
  border: solid white;
}

.grid-img {
  background-color: rgb(254, 115, 0);
  padding: 20px;
  width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 20px;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.grid-img .img-4 {
  grid-row: span 3;
}
.grid-img .img-2 {
  grid-row: span 3;
}
.grid-img .img-5 {
  grid-row: span 3;
}
.grid-img .grid-item {
  background-color: white;
}
.grid-img .grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*- nosotros -*/
/*- sabores -*/
.carousel {
  background-color: rgb(254, 115, 0);
}
.carousel img {
  height: 450px;
  padding: 10px;
  border-radius: 3em;
}

.sab-p {
  background-color: rgb(254, 115, 0);
  padding: 30px 30px 0px 30px;
}
.sab-p .parrafo-sabores {
  font-size: 30px;
  color: white;
  border: solid white;
  background-color: rgb(254, 115, 0);
  text-align: center;
  padding: 20px 20px 1px 20px;
  border-radius: 20px;
}

.grid-sab {
  background-color: rgb(254, 115, 0);
  text-align: center;
  color: wheat;
  padding: 20px;
  width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 20px;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.grid-sab .img-1 {
  grid-column: span 2;
}
.grid-sab .img-2 {
  grid-row: span 4;
}
.grid-sab .img-4 {
  grid-row: span 3;
}
.grid-sab .img-5 {
  grid-row: span 3;
}
.grid-sab .img-6 {
  grid-column: span 2;
}
.grid-sab .grid-item-sab img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  flex-wrap: wrap;
  border-radius: 20px;
}

/*- sabores -*/
/*- menu -*/
.menu h2 {
  color: white;
  background-color: rgb(254, 115, 0);
  padding: 10px;
  text-align: center;
  font-size: 50px;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

.menu-cards {
  background-color: rgb(254, 115, 0);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 120px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.menu-cards .card-body {
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.menu-cards .card-body h3.card-title {
  text-align: center;
  font-size: 30px;
  color: rgb(254, 115, 0);
}
.menu-cards .card-body p.card-text {
  text-align: center;
  font-size: 20px;
}
.menu-cards .card-body a.btn.btn-primary {
  font-size: 20px;
  text-align: center;
  color: white;
  border-color: rgb(254, 115, 0);
  background-color: rgb(254, 115, 0);
  display: flex;
  justify-content: center;
}

h4 {
  color: white;
  background-color: rgb(254, 115, 0);
  padding: 10px;
  text-align: center;
  font-size: 50px;
  padding-bottom: 2%;
  margin-bottom: 0%;
}

/*- menu -*/
/*- contacto -*/
.contacto-img {
  padding: 50px;
  width: 100%;
  height: 600px;
  background-image: url("../img/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.contacto-img h2 {
  margin: 30px;
  color: white;
  background-color: rgb(254, 115, 0);
  border-radius: 20px;
  text-align: center;
  font-size: 55px;
}
.contacto-img .contacto {
  display: grid;
}

/*- contacto -*/
/*- footer -*/
footer {
  max-height: 150vh;
  padding: 30px;
  background-color: black;
}
footer section .contacto-footer h3 {
  font-size: 3.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
footer section .contacto-footer p {
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .div-map {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .div-map iframe {
  border-radius: 2em;
  border: 4px solid white;
  width: 700px;
  height: 450px;
  align-items: center;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
footer .div-map iframe:hover {
  transform: scale(1.1);
  opacity: 1;
}
footer .redes-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer .redes-div i {
  width: 30px;
  height: 30px;
  font-size: 50px;
  color: white;
  padding: 20px;
}
footer .redes-div i:hover {
  color: rgb(254, 115, 0);
}
footer .wpp-icono {
  display: grid;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/*- footer -*/
/*queries*/
/*inicio-footer-nosotros*/
@media screen and (max-width: 386px) {
  .header {
    flex-direction: column;
  }
  .hero h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 820px) {
  footer section iframe {
    margin-right: 20px;
  }
  .contacto-footer h3 {
    font-size: 30px;
  }
  .nosotros-inicio p {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 999px) {
  .prod-mas-vendidos {
    padding-left: 10%;
    padding-right: 10%;
  }
  .hero h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 860px) {
  .hero h2 {
    font-size: 60px;
  }
  .nosotros-inicio p {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 772px) {
  .hero h2 {
    font-size: 55px;
  }
  .prod-mas-vendidos {
    flex-direction: row;
  }
  .nosotros-inicio p {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 635px) {
  .hero h2 {
    font-size: 45px;
  }
  .prod-mas-vendidos {
    flex-direction: row;
  }
  .nosotros-inicio p {
    font-size: 21px !important;
  }
}
@media screen and (max-width: 545px) {
  .prod-mas-vendidos {
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
  }
  footer section iframe {
    width: 220px;
  }
  .nosotros-inicio p {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 445px) {
  .prod-mas-vendidos {
    flex-direction: row;
  }
  .nosotros-inicio p {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 393px) {
  .prod-mas-vendidos {
    flex-direction: row;
  }
  .nosotros-inicio p {
    font-size: 17.5px !important;
  }
  footer .div-map iframe {
    width: 220px;
    height: 380px;
  }
}
@media screen and (max-width: 380px) {
  .prod-mas-vendidos {
    flex-direction: row;
  }
  .nosotros-inicio p {
    font-size: 17px !important;
  }
  footer .div-map iframe {
    width: 210px;
    height: 380px;
  }
}
/*inicio-nosotros*/
/*nosotros*/
@media screen and (max-width: 790px) {
  .grid-img {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
  }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media screen and (max-width: 660px) {
  .grid-img {
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
  }
  .grid-img .img-4 {
    grid-row: span 2;
  }
  .grid-img .img-2 {
    grid-row: span 2;
  }
  .grid-img .img-5 {
    grid-row: span 2;
  }
}
@media screen and (max-width: 500px) {
  .grid-img .img-2 {
    grid-row: span 1;
  }
  .grid-img .img-4 {
    grid-row: span 1;
  }
  .grid-img .img-5 {
    grid-row: span 1;
  }
}
/*nosotros*/
/*sabores*/
@media screen and (max-width: 1000px) {
  .carousel img {
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .carousel img {
    height: 220px;
  }
}
@media screen and (max-width: 600px) {
  .carousel img {
    height: 220px;
  }
}
@media screen and (max-width: 400px) {
  .carousel img {
    height: 180px;
  }
}
@media screen and (max-width: 740px) {
  .grid-sab {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
  }
  .grid-sab .img-5 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 660px) {
  .sab-p .parrafo-sabores {
    font-size: 25px;
  }
  .grid-sab {
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
  }
  .grid-sab .img-2 {
    grid-row: span 2;
  }
  .grid-sab .img-4 {
    grid-row: span 1;
  }
  .grid-sab .img-5 {
    grid-row: span 1;
  }
}
@media screen and (max-width: 590px) {
  .sab-p .parrafo-sabores {
    font-size: 17px;
  }
  .grid-sab .img-2 {
    grid-row: span 1;
  }
  .grid-sab .img-4 {
    grid-column: span 2;
  }
}
@media screen and (max-width: 550px) {
  .sab-p .parrafo-sabores {
    font-size: 15px;
  }
  .grid-sab .img-3 {
    grid-column: span 2;
  }
}
/*sabores*/
/*menu*/
@media screen and (max-width: 1560px) {
  .menu-cards {
    -moz-column-gap: 100px;
         column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    padding-left: 300px;
    padding-right: 130px;
  }
}
@media screen and (max-width: 1470px) {
  .menu-cards {
    -moz-column-gap: 100px;
         column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    padding-left: 300px;
    padding-right: 170px;
  }
}
@media screen and (max-width: 1400px) {
  .menu-cards {
    -moz-column-gap: 100px;
         column-gap: 100px;
    padding-left: 300px;
    padding-right: 200px;
  }
}
@media screen and (max-width: 1330px) {
  .menu-cards {
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding-right: 220px;
  }
}
@media screen and (max-width: 1230px) {
  .menu-cards {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media screen and (max-width: 1180px) {
  .menu-cards {
    -moz-column-gap: 100px;
         column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    padding-left: 240px;
  }
}
@media screen and (max-width: 1090px) {
  .menu-cards {
    -moz-column-gap: 100px;
         column-gap: 100px;
    grid-template-columns: 1fr 1fr;
    padding: 0 200px 120px 150px;
  }
  .menu-cards p.card-text {
    font-size: 25px;
  }
}
@media screen and (max-width: 950px) {
  .menu-cards {
    -moz-column-gap: 200px;
         column-gap: 200px;
    grid-template-columns: 1fr 1fr;
    padding: 0 200px 120px 60px;
  }
}
@media screen and (max-width: 860px) {
  .menu-cards {
    -moz-column-gap: 150px;
         column-gap: 150px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 820px) {
  .menu-cards {
    -moz-column-gap: 100px;
         column-gap: 100px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 770px) {
  .menu-cards {
    -moz-column-gap: 50px;
         column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    padding-right: 50px;
  }
}
@media screen and (max-width: 715px) {
  .menu-cards {
    -moz-column-gap: 300px;
         column-gap: 300px;
    grid-template-columns: 1fr;
    padding-left: 30%;
  }
}
@media screen and (max-width: 680px) {
  .menu-cards {
    padding-left: 29%;
  }
}
@media screen and (max-width: 640px) {
  .menu-cards {
    padding-left: 27%;
  }
}
@media screen and (max-width: 585px) {
  .menu-cards {
    padding-left: 24%;
  }
}
@media screen and (max-width: 510px) {
  .menu-cards {
    padding-left: 20%;
  }
}
@media screen and (max-width: 460px) {
  .menu-cards {
    padding-left: 17%;
  }
}
@media screen and (max-width: 420px) {
  .menu-cards {
    padding-left: 14%;
  }
}
@media screen and (max-width: 380px) {
  .menu-cards {
    padding-left: 10%;
  }
}
/*menu*/
/*contacto*/
@media screen and (max-width: 470px) {
  .contacto-img h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 395px) {
  .contacto-img h2 {
    font-size: 30px;
  }
}
/*contacto*/
/*queries*//*# sourceMappingURL=estilo.css.map */