* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

/*- barra nav bootstrap -*/
header {
    background-color: rgba(254, 115, 0, 255);
    nav{
        .bg-barra {
            background-color: rgba(254, 115, 0, 255);
        }
        img {
            width: 80px;
            height: 80px;
        }
        .dropdown-menu {
            background-color: rgba(254, 115, 0, 255);
            border: 1px solid white;
            .dropdown-divider {
                background-color: white;
            }
            .dropdown-item {
            background-color: rgba(254, 115, 0, 255);
            color: white;
                &:hover{
                    background-color: rgba(251, 139, 36, 255);
                    color: white;
                }
            }
        }
        .nav-link.active {
            color: white !important;
        }
        .nav-link {
            color: white !important;
        }
        .btn-outline-success {
            background-color: white;
            color: rgba(254, 115, 0, 255);
            border: 1px solid white;
            &:hover{
                background-color: rgba(254, 115, 0, 255) !important;
                border: 1px solid white !important;
            }
        }
    }
    h1 {
        width: 100%;
        font-size: 16px;
        margin: 0%;
        color: white;
        padding: 5px;
    }
}
/*- barra nav bootstrap -*/

/*- botones bootstrap -*/
.btn.btn-primary {
    font-size: 20px;
    text-align: center;
    color: white;
    border-color: white;
    background-color: rgba(254, 115, 0, 255);
    margin: 10px;
    .btn-primary {
        &:hover{
            color: rgba(254, 115, 0, 255) !important;
            border-color: rgba(254, 115, 0, 255) !important;
            background-color: white !important;
        }
    }
}
/*- botones bootstrap -*/

