/*- Inicio -*/
.hero {
    text-align: center;
    font-family: "Jost";
    color: white;
    width: 100%;
    height: 600px;
    background-image: url("../img/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    h2 {
        font-size: 70px;
        padding-bottom: 55px;
        padding-left: 20px;
        padding-right: 20px;
    }
    div a .boton-sobre-nosotros{
        background-color: rgba(254, 115, 0, 255);
        color: white;
        padding: 10px 25px;
        text-decoration: none;
        font-size: 1.5rem;
        border-radius: 10px;
        font-family: "Jost";
        border-color: white;
        &:hover{
            color: rgba(254, 115, 0, 255);
            background-color: white;
            transition: 0.6s;
        }
    }
}

.bienvenidos {
    text-align: center;
    font-family: "Jost";
    font-weight: 400;
    color: white;
    width: 100%;
    height: 460px;
    background-image: url("../img/bienvenidos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .bienvenidos-centro {
        h2{
            font-size: 50px;
            height: 275px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }
        .parrafos-bienvenidos {
            font-size: 25px;
            padding: 10px;
            padding-right: 10px;
        }
    }
}

.productos {
    text-align: center;
    font-family: "Jost";
    color: white;
    width: 100%;
    height: 100px;
    background-color: rgba(254, 115, 0, 255);
    .productos-centro{
        h2 {
            font-size: 50px;
            padding: 20px;
        }
        
    }
}

.mas-vendidos {
    font-family: "Jost";
    color: white;
    background-color: rgba(254, 115, 0, 255);
    height: 100%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 100px;
    h2 {
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .prod-mas-vendidos{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        div {
            color: white;
            border: 3px solid white;
            text-align: center;
            padding: 30px;
            border-radius: 20px;
            margin: 20px;
            background-color: rgba(254, 115, 0, 255);
        }
        img{
            width: 190px;
            height: 190px;
        }
        h3{
            font-size: 25px;
        }
    }
}
/*- Inicio -*/

/*- nosotros -*/
.nosotros-inicio {
    h2{
        text-align: center;
        font-size: 50px;
        color: white;
        width: 100%;
        height: 300px;
        background-image: url("../img/nosotros.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding-top: 60px;
        margin: 0%;
    }
    .nosotros-p{
        text-align: center;
        font-size: 30px;
        color: white;
        background-color: rgba(254, 115, 0, 255);
        width: 100%;
        height: 200px;
        padding: 20px;
        margin: 0%;
        border: solid white;
    }
}

.grid-img {
    .img-4 {
            grid-row: span 3;
    }
    .img-2 {
        grid-row: span 3;
    }
    .img-5 {
        grid-row: span 3;
    }
    background-color: rgba(254, 115, 0, 255);
    padding: 20px;
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    .grid-item {
        background-color: white;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
/*- nosotros -*/

/*- sabores -*/
.carousel {
    background-color: rgba(254, 115, 0, 255);
    img {
        height: 450px;
        padding: 10px;
        border-radius: 3em;
    }
}

.sab-p{
    background-color: rgba(254, 115, 0, 255);
    padding: 30px 30px 0px 30px;
    .parrafo-sabores{
        font-size: 30px;
        color: white;
        border: solid white;
        background-color: rgba(254, 115, 0, 255);
        text-align: center;
        padding: 20px 20px 1px 20px;
        border-radius: 20px;
    }
}

.grid-sab{
    .img-1 {
        grid-column: span 2;
    }
    .img-2 {
        grid-row: span 4;
    }
    .img-4 {
        grid-row: span 3;
    }
    .img-5 {
        grid-row: span 3;
    }
    .img-6 {
        grid-column: span 2;
    }
    background-color: rgba(254, 115, 0, 255);
    text-align: center;
    color: wheat;
    padding: 20px;
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    .grid-item-sab img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex-wrap: wrap;
        border-radius: 20px;
    }
}

/*- sabores -*/

/*- menu -*/
.menu {
    h2 {
        color: white;
        background-color: rgba(254, 115, 0, 255);
        padding: 10px;
        text-align: center;
        font-size: 50px;
        padding-bottom: 2%;
        margin-bottom: 0%
    }
}

.menu-cards {
    background-color: rgba(254, 115, 0, 255);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 100px;
    .card-body {
        flex-wrap: wrap;
        padding-bottom: 10px;
        h3.card-title {
            text-align: center;
            font-size: 30px;
            color: rgba(254, 115, 0, 255);
        }
        p.card-text {
            text-align: center;
            font-size: 20px;
        }
        a.btn.btn-primary {
            font-size: 20px;
            text-align: center;
            color: white;
            border-color: rgba(254, 115, 0, 255);
            background-color: rgba(254, 115, 0, 255);
            display: flex;
            justify-content: center;
        }
    }
}

h4 {
    color: white;
    background-color: rgba(254, 115, 0, 255);
    padding: 10px;
    text-align: center;
    font-size: 50px;
    padding-bottom: 2%;
    margin-bottom: 0%
}
/*- menu -*/
/*- contacto -*/
.contacto-img {
    padding: 50px;
    width: 100%;
    height: 600px;
    background-image: url("../img/contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    h2 {
        margin: 30px;
        color: white;
        background-color: rgba(254, 115, 0, 255);
        border-radius: 20px;
        text-align: center;
        font-size: 55px;
    }
    .contacto{
        display: grid;
    }
}
/*- contacto -*/